services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  red_agent:
    build: .
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_URL: "amqp://user:password@rabbitmq:5672/"
      TARGET_URL: "http://target-service:5000/api"
      GEMINI_API_KEY: "${GEMINI_API_KEY}"
    ports:
      - "8000:8000"